/* .periodic-table {
    display: grid;
    grid-template-columns:  auto auto;
    grid-template-rows: repeat(7, 64px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50);
} */

.container {
    display: grid;
  grid-template-columns: auto auto;
  background-color: #3e2723;
  padding: 10px;
  border-radius: 10px;
}

.item {
    background-color: #80cbc4;
    border: 1px solid #fff;
    padding: 20px;
}